# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# pipenv / poetry
Pipfile.lock
poetry.lock

# -------------------------
# EDITOR SETTINGS
# -------------------------
# PyCharm / IDEA
.idea/

# VSCode
.vscode/

# -------------------------
# LOGS
# -------------------------
*.log

# -------------------------
# ENVIRONMENT VARIABLES
# -------------------------
.env
*.env

# -------------------------
# CACHE
# -------------------------
.cache/
